<head>
    <title>Computer Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="dashboard"> Application - Computer Database </a>
    </div>
</header>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 box">
                <h1>{{ 'addTitle' | translate }}</h1>
                <form ng-submit="$ctrl.addComputer(computer)">
                    <fieldset>
                        <div class="form-group">
                            <label for="computerName">{{ 'name' | translate }}</label>
                            <input type="text" class="form-control" id="computerName" ng-model="computer.name" placeholder="{{ 'name' | translate }}">
                        </div>
                        <div class="form-group">
                            <label for="introduced">{{ 'introduced' | translate }}</label>
                            <input type="date" class="form-control" id="introduced"  ng-model="computer.introduced" placeholder="{{ 'introduced' | translate }}">
                        </div>
                        <div class="form-group">
                            <label for="discontinued">{{ 'discontinued' | translate }}</label>
                            <input type="date" class="form-control" id="discontinued" ng-model="computer.discontinued" placeholder="{{ 'discontinued' | translate }}">
                        </div>
                        <div class="form-group">
                            <label for="companyId">{{ 'company' | translate }}</label>
                            <select class="form-control" id="companyId" ng-model="computer.companyDTO" >
                                <option value="0"> {{computer.companyDTO.name}}</option>
                                <option ng-repeat="company in $ctrl.companies" value="{{company}}">
                                    {{company.name}}
                                </option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="actions pull-right">
                        <input type="submit" value="{{ 'addSubmit' | translate }}" class="btn btn-primary">
                        {{'or' | translate}}
                        <a href="dashboard" class="btn btn-default">{{ 'cancel' | translate }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>